.YoutubeVideo{
    position: "relative";
    padding-bottom: "56.25%"; /* 16:9 */
    padding-top: 25px;
    padding-bottom: 25px;
    height: 0;
    width: 80vw;
    height: 45vw;
}


 
@media (max-height: 75vw){

    .YoutubeVideo{
        position: "relative";
        padding-bottom: "56.25%"; /* 16:9 */
        padding-top: 25px;
        padding-bottom: 25px;
        height: 0;
        width: 106.667vh;
        height: 60vh;
    }
 
 }

 @media (max-height: 58vw) and (max-width: 120vw){

    .YoutubeVideo{
        position: "relative";
        padding-bottom: "56.25%"; /* 16:9 */
        padding-top: 25px;
        padding-bottom: 25px;
        height: 0;
        width: 115.556vh;
        height: 65vh;
    }
 
 }

 @media (max-height: 45vw){

    .YoutubeVideo{
        position: "relative";
        padding-bottom: "56.25%"; /* 16:9 */
        padding-top: 25px;
        padding-bottom: 25px;
        height: 0;
        width: 88.889vh;
        height: 50vh;
    }
 
 }

 @media (max-height: 25vw){

    .YoutubeVideo{
        position: "relative";
        padding-bottom: "56.25%"; /* 16:9 */
        padding-top: 25px;
        padding-bottom: 25px;
        height: 0;
        width: 44.444vh;
        height: 25vh;
    }
 
 }